@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String, pageType: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/pacifica.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("i/favicon.png")">
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
    </head>
    <body class="@pageType">
        <header>
            <nav class="top-nav">
                @if(request.session().get("username") != null ) {
                    <span class="welcome">Welcome, @request.session().get("username")</span>
                    <a href="@routes.LoginController.logout()" class="logout-btn">Logout</a>
                } else {
                    <a id="hello-btn" class="login-btn" href="@routes.LoginController.showLoginForm()">Hello</a>
                }
            </nav>
        </header>
        @content
        <footer></footer>
        
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap-theme.css")"/>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/leaflet/leaflet.css")" />

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <script src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
        <script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
    </body>
</html>
