
@alt("Happy View on Pacifica", "homepage") {
    <div class="main">
        <div class="header">
            <p>What <span>is Love ?</span></p>
        </div>
        <div id="canvas">Not initialized yet  \../</div>
        <div id="canvas">Work in progress</div>
        <div class="links">
            <h3>Available Routes:</h3>
            <ul>
                <li><a href="@routes.HealthController.checkDatabaseConnection()">Check Database Health</a></li>
            </ul>
        </div>
    </div>
}
